*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.py
*.db-shm
*.db-wal
*.html
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
ip_bans.yaml
.*
!/.gitignore
