homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret lat 
  longitude: !secret lon 
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Chicago
  # Customization file
  customize: !include customize.yaml

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Show the introduction message on startup.
introduction:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  api_password: !secret api_pass
  server_port: !secret serv_port
  ssl_certificate: !secret ssl_certificate
  ssl_key: !secret ssl_key
  base_url: !secret base_url
# Sensors
sensor:
  # Weather prediction
  - platform: yr
  
sensor 2:
  platform: dht
  sensor: DHT22
  pin: 23
  monitored_conditions:
    - temperature
    - humidity
      
# Text to speech
tts:
  - platform: google

blink:
  username: !secret blink_user
  password: !secret blink_pass
  scan_interval: 3600
  binary_sensors:
    monitored_conditions:
      - motion_enabled
      - motion_detected
  sensors:
    monitored_conditions:
      - battery
      - temperature
      - wifi_strength

media_player:
    # Living Room
  - platform: braviatv
    host: !secret sony_ip
    
    # Bedroom
  - platform: samsungtv
    host: !secret samsung_tv_ip   

sensor 3:
  - platform: apcupsd
    resources:
      - linev
      - loadpct
      - timeleft

amcrest:
  - host: !secret Amcrest_ip
    username: !secret amcrest_user
    password: !secret amcrest_pass

emulated_hue:

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
