homeassistant:
  # Name of the location where Home Assistant is running
  name: Home
  # Location required to calculate the time the sun rises and sets
  latitude: !secret lat 
  longitude: !secret lon 
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 0
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Chicago
  # Customization file
  customize: !include customize.yaml

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

# Show the introduction message on startup.
introduction:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
http:
  api_password: !secret api_pass
  server_port: !secret serv_port
  ssl_certificate: !secret ssl_certificate
  ssl_key: !secret ssl_key
  base_url: !secret base_url
# Sensors
sensor:
  # Weather prediction
  - platform: yr
  
sensor 2:
  platform: dht
  sensor: DHT22
  pin: 4
  monitored_conditions:
    - temperature
    - humidity
      
# Text to speech
tts:
  - platform: google

blink:
  username: !secret blink_user
  password: !secret blink_pass
  scan_interval: 3600
  binary_sensors:
    monitored_conditions:
      - motion_enabled
      - motion_detected
  sensors:
    monitored_conditions:
      - battery
      - temperature
      - wifi_strength

media_player:
    # Living Room
  - platform: braviatv
    name: Sony TV
    host: !secret sony_ip
    
    # Bedroom
  - platform: samsungtv
    name: Samsung TV
    host: !secret samsung_tv_ip   

amcrest:
  - host: !secret Amcrest_ip
    username: !secret amcrest_user
    password: !secret amcrest_pass

emulated_hue:

apcupsd:
  host: !secret apc_ip
  port: 3551

sensor UPS:
  - platform: apcupsd
    resources:
      - bcharge
      - loadpct
      - timeleft      
      - model
      - numxfers      
      
speedtestdotnet:
  scan_interval:
    minutes: 35
  monitored_conditions:
    - ping
    - download
    - upload

zone:
  - name: Work
    latitude: !secret work_lat
    longitude: !secret work_long
    radius: 350
    icon: mdi:work
    
  # This will override the default home zone
  - name: Home
    latitude: !secret home_lat 
    longitude: !secret home_long 
    radius: 450
    icon: mdi:account-multiple

# Broker Server info
mqtt:
  broker: !secret mqtt_ip
  port: 1883
  client_id: home-assistant
  username: Izzy
  password: What1234
 
#Nmap placeholder
device_tracker:
  - platform: nmap_tracker
    hosts: !secret nmap_host
    home_interval: 10
    consider_home: 180     
    exclude:
     - !secret nmap_ex1
     - !secret nmap_ex2
    new_device_defaults:
      track_new_devices: true
      hide_if_away: false
    
#nodeMCU MQTT placeholder
light:
  platform: mqtt
  name: 'Node Light'
  state_topic: 'home/light1/status'
  command_topic: 'home/light1/switch'
  optimistic: false
  
#Google Maps placeholder

#WoL placeholder

#kodi placeholder

#GPS logger placeholder
      
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
